@charset "UTF-8";

body {
    background-color: rgb(47, 97, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

header {
    color: white;
    text-align: center;
    margin-top: 100px;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;  

    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.578);
}

div {
    text-align: center;
    padding: 10px;
}

div#msg {
    font-size: 0.7em;
}

img {
    border-radius: 50%;

}

footer {
    color: white;
    font-size: 0.5em;
    text-align: center;
    margin-top: 15px;
    
}

