@charset "UTF-8";

body {
    background-color: rgb(19, 94, 27);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

header {
    color: white;
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    width: 500px;    
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.578);
}

footer {
    color: white;
    font-size: 0.7em;
    text-align: center;
}

